on early-init
    mkdir /efs 0771 system radio
    symlink /dev/block/mmcblk0p13 /dev/mbin0
    restorecon /dev/mbin0
    symlink /sys/devices/platform/s5p-ehci/ehci_power /dev/ehci_power

    write /sys/class/net/rmnet0/queues/rx-0/rps_cpus 1
    write /sys/class/net/rmnet1/queues/rx-0/rps_cpus 1
    write /sys/class/net/rmnet2/queues/rx-0/rps_cpus 1
    write /proc/sys/net/core/netdev_max_backlog 2048

on fs
    chown system radio /efs
    chmod 0771 /efs

    chown radio radio /sys/devices/virtual/misc/multipdp/waketime
    chown radio radio /sys/devices/platform/s5p-ehci/ehci_cpu_core

service modemloader /vendor/bin/modemloader
    class core
    oneshot

service cpboot-daemon /vendor/bin/cbd -d -txmm626x -bh -mh -p 13
    class main
    user root
    group radio cache inet misc audio sdcard_rw log sdcard_r shell
    disabled

on property:ro.modemloader.done=1
    start cpboot-daemon
    start ril-daemon
