import init.universal5420.power.rc
import init.universal5420.usb.rc
import init.universal5420.wifi.rc
import init.baseband.rc
import init.samsung.rc

on init

    export LD_SHIM_LIBS "libsamsung_symbols.so:/system/lib/omx/libOMX.Exynos.WMV.Decoder.so|libsamsung_symbols.so:/system/lib/omx/libOMX.Exynos.MPEG4.Decoder.so|libsamsung_symbols.so:/system/lib/omx/libOMX.Exynos.MPEG4.Encoder.so|libsamsung_symbols.so:/system/lib/omx/libOMX.Exynos.VP8.Encoder.so|libsamsung_symbols.so:/system/lib/omx/libOMX.Exynos.AVC.Encoder.so|libsamsung_symbols.so:/system/lib/omx/libOMX.Exynos.AVC.Decoder.so|libsamsung_symbols.so:/system/lib/omx/libOMX.Exynos.VP8.Decoder.so|libsamsung_symbols.so:/system/bin/gpsd|libdmitry.so"

    mkdir /mnt/shell/container 0700 system system
    mkdir /storage 0550 system sdcard_r

    # Support legacy paths
    symlink /sdcard /mnt/sdcard
    symlink /sdcard /storage/sdcard0

    symlink /data/app /factory

    # Make param link
    symlink /dev/block/mmcblk0p8 /dev/block/param

on early-init
    write /sys/block/mmcblk0/queue/read_ahead_kb 512
    write /sys/block/mmcblk1/queue/read_ahead_kb 512
    write /sys/block/mmcblk0/queue/scheduler noop

on property:sys.boot_completed=1
    setprop sys.io.scheduler bfq

    # Ondemand
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor ondemand
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor ondemand
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor ondemand

    #Interactive tunables
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay "20000 1000000:80000 1200000:100000 1700000:20000"
    write /sys/devices/system/cpu/cpufreq/interactive/boost 0
    write /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration 40000
    write /sys/devices/system/cpu/cpufreq/interactive/enforced_mode 0
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 99
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 600000
    write /sys/devices/system/cpu/cpufreq/interactive/io_is_busy 0
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 40000
    write /sys/devices/system/cpu/cpufreq/interactive/mode 0
    write /sys/devices/system/cpu/cpufreq/interactive/multi_enter_load 360
    write /sys/devices/system/cpu/cpufreq/interactive/multi_enter_time 80000
    write /sys/devices/system/cpu/cpufreq/interactive/multi_exit_load 360
    write /sys/devices/system/cpu/cpufreq/interactive/multi_exit_time 320000
    write /sys/devices/system/cpu/cpufreq/interactive/param_index 0
    write /sys/devices/system/cpu/cpufreq/interactive/single_enter_load 90
    write /sys/devices/system/cpu/cpufreq/interactive/single_enter_time 160000
    write /sys/devices/system/cpu/cpufreq/interactive/single_exit_load 90
    write /sys/devices/system/cpu/cpufreq/interactive/single_exit_time 80000
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "70 600000:70 800000:75 1500000:80 1700000:90"
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpufreq/interactive/timer_slack 20000

    #Ondemand Tunables
    write /sys/devices/system/cpu/cpufreq/ondemand/max_freq_blank 1400000
    write /sys/devices/system/cpu/cpufreq/ondemand/high_freq_zone 1200000
    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold 93
    write /sys/devices/system/cpu/cpufreq/ondemand/up_step_level_b 650000
    write /sys/devices/system/cpu/cpufreq/ondemand/up_step_level_l 500000

on post-fs-data
    setprop vold.post_fs_data_done 1

# YAAS(Yamaha Android Audio System) uses.
    mkdir /data/ymc 0775 system system
    chmod 0666 /dev/snd/controlC0

# Permissions for bluetooth
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth net_bt_stack ro.bt.bdaddr_path
    chown bluetooth net_bt_stack /dev/ttySAC0
    chmod 0660 /dev/ttySAC0
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type

# For kernel lock in BT/WiFi race condtion
    chmod 0600 /dev/btlock
    chown bluetooth bluetooth /dev/btlock

# SVC LED
    chown system system /sys/class/sec/led/led_r
    chown system system /sys/class/sec/led/led_g
    chown system system /sys/class/sec/led/led_b

    chown system system /sys/class/leds/led_r/brightness
    chown system system /sys/class/leds/led_g/brightness
    chown system system /sys/class/leds/led_b/brightness
    chown system system /sys/class/leds/led_r/delay_on
    chown system system /sys/class/leds/led_g/delay_on
    chown system system /sys/class/leds/led_b/delay_on
    chown system system /sys/class/leds/led_r/delay_off
    chown system system /sys/class/leds/led_g/delay_off
    chown system system /sys/class/leds/led_b/delay_off
    chown system system /sys/class/leds/led_r/blink
    chown system system /sys/class/leds/led_g/blink
    chown system system /sys/class/leds/led_b/blink

    chown system system /sys/class/sec/led/led_pattern
    chown system system /sys/class/sec/led/led_blink
    chown system system /sys/class/sec/led/led_br_lev
    chown system system /sys/class/sec/led/led_lowpower

# Added for TZ Playready DRM Support
    mkdir /efs/drm 0774 drm system
    mkdir /efs/drm/playready 0775 drm system

# Create directory for hostapd
    mkdir /data/hostapd 0770 system wifi

# Sensorhub service
service sensorhubservice /system/bin/sensorhubservice
    class main
    user system
    group input

# Bluetooth dhcpcd config
service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class late_start
    disabled
    oneshot

on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug
    setprop ro.radio.noril no
    start ril-daemon

    # Reduce reserved lowmem from ~48MB to ~12MB
    write /proc/sys/vm/lowmem_reserve_ratio "128 128"

    # Set up kernel tracing, but disable it by default
    chmod 0222 /sys/kernel/debug/tracing/trace_marker
    write /sys/kernel/debug/tracing/tracing_on 0

    setprop ro.build.product universal_5420
    setprop ro.product.device universal_5420

    chown root radio /proc/cmdline
    chmod 0644 /proc/cmdline

# mobicore
    mkdir /data/app/mcRegistry 0775 system system
    mkdir /system/app/mcRegistry/TbStorage 0775 system system
    chmod 0700 /dev/mobicore
    chmod 0666 /dev/mobicore-user
    chmod 0660 /dev/s5p-smem
    chown system system /dev/mobicore
    chown radio system /dev/mobicore-user
    chown drm drmrpc /dev/s5p-smem

# DRK permission
    mkdir /efs/prov 0770 radio system
    chown radio system /efs/prov_data
    chmod 0770 /efs/prov_data
    chown radio system /efs/prov_data/dev_root
    chmod 0770 /efs/prov_data/dev_root
    chown radio system /efs/prov_data/knox
    chmod 0770 /efs/prov_data/knox
    chown radio system /efs/prov_data/dev_root/dev_root.dat
    chmod 0640 /efs/prov_data/dev_root/dev_root.dat
    chown radio system /efs/prov/libdevkm.lock
    chmod 0660 /efs/prov/libdevkm.lock
    write /efs/prov/ffffffff00000000000000000000000c.tlbin 0
    chown radio system /efs/prov/ffffffff00000000000000000000000c.tlbin
    chmod 0660 /efs/prov/ffffffff00000000000000000000000c.tlbin

# CS socket
    mkdir /dev/socket/cs_socket 0770 system system

# Permissions for TouchScreen
    chown system system /sys/class/input/input1/enabled
    chmod 0660 /sys/class/input/input1/enabled

# Permissions for Touchkey
    chown system radio /sys/class/sec/sec_touchkey/enable_disable
    chown system radio /sys/class/sec/sec_touchkey/touchkey_brightness
    chown system radio /sys/class/sec/sec_touchkey/touchkey_menu
    chown system radio /sys/class/sec/sec_touchkey/touchkey_back
    chown system radio /sys/class/sec/sec_touchkey/touch_update
    chown system radio /sys/class/sec/sec_touchkey/touch_version
    chown system radio /sys/class/sec/sec_touchkey/touchkey_firm_version_panel
    chown system radio /sys/class/sec/sec_touchkey/touchkey_firm_version_phone
    chown system radio /sys/class/sec/sec_touchkey/touchkey_firm_update_status
    chown system radio /sys/class/sec/sec_touchkey/touchkey_firm_update
    chown system radio /sys/class/sec/sec_touchkey/touch_sensitivity
    chown system radio /sys/class/sec/sec_touchkey/touchkey_threshold
    chown system radio /sys/class/sec/sec_touchkey/glove_mode
    chown system radio /sys/class/sec/sec_touchkey/flip_mode
    chown system radio /sys/class/sec/sec_touchkey/boost_level
    chown system system /sys/devices/virtual/sec/sec_touchkey/brightness

    chown system system /sys/class/input/input13/enabled
    chmod 0660 /sys/class/input/input13/enabled
    chown system system /sys/class/input/input14/enabled
    chmod 0660 /sys/class/input/input14/enabled
    chown system system /sys/class/input/input15/enabled
    chmod 0660 /sys/class/input/input15/enabled
    chown system system /sys/class/input/input18/enabled
    chmod 0660 /sys/class/input/input18/enabled
    chown system system /sys/class/input/input20/enabled
    chmod 0660 /sys/class/input/input20/enabled

# Permissions for gpio_keys
    chown radio system /sys/class/sec/sec_key/wakeup_keys
    write /sys/class/sec/sec_key/wakeup_keys 116,172

# SENSORS
# Accelerometer_sensor
    chown system radio /sys/class/sensors/accelerometer_sensor/raw_data
    chown system radio /sys/class/sensors/accelerometer_sensor/calibration
    chown system radio /sys/class/sensors/accelerometer_sensor/reactive_alert
    chown system radio /sys/class/sensors/accelerometer_sensor/vendor
    chown system radio /sys/class/sensors/accelerometer_sensor/name
    chown system radio /sys/class/sensors/accelerometer_sensor/selftest
# Proximity_sensor
    chown system radio /sys/class/sensors/proximity_sensor/state
    chown system radio /sys/class/sensors/proximity_sensor/raw_data
    chown system radio /sys/class/sensors/proximity_sensor/prox_avg
    chown system radio /sys/class/sensors/proximity_sensor/prox_cal
    chown system radio /sys/class/sensors/proximity_sensor/vendor
    chown system radio /sys/class/sensors/proximity_sensor/name
    chown system radio /sys/class/sensors/proximity_sensor/thresh_high
    chown system radio /sys/class/sensors/proximity_sensor/thresh_low
    chown system radio /sys/class/sensors/proximity_sensor/barcode_emul_en
# Light_sensor
    chown system radio /sys/class/sensors/light_sensor/lux
    chown system radio /sys/class/sensors/light_sensor/raw_data
    chown system radio /sys/class/sensors/light_sensor/vendor
    chown system radio /sys/class/sensors/light_sensor/name
# Gyro_sensor
    chown system radio /sys/class/sensors/gyro_sensor/power_on
    chown system radio /sys/class/sensors/gyro_sensor/power_off
    chown system radio /sys/class/sensors/gyro_sensor/temperature
    chown system radio /sys/class/sensors/gyro_sensor/selftest
    chown system radio /sys/class/sensors/gyro_sensor/selftest_dps
    chown system radio /sys/class/sensors/gyro_sensor/vendor
    chown system radio /sys/class/sensors/gyro_sensor/name
# Barometer_sensor
    chown system radio /sys/class/sensors/barometer_sensor/sea_level_pressure
    chown system radio /sys/class/sensors/barometer_sensor/vendor
    chown system radio /sys/class/sensors/barometer_sensor/name
    chown system radio /sys/class/sensors/barometer_sensor/calibration
# Magnetic_sensor
    chown system radio /sys/class/sensors/magnetic_sensor/raw_data
    chown system radio /sys/class/sensors/magnetic_sensor/vendor
    chown system radio /sys/class/sensors/magnetic_sensor/name
# Gesture_sensor
    chown system radio /sys/class/sensors/gesture_sensor/vendor
    chown system radio /sys/class/sensors/gesture_sensor/name
    chown system radio /sys/class/sensors/gesture_sensor/raw_data
    chown system radio /sys/class/sensors/gesture_sensor/ir_current
    chown system radio /sys/class/sensors/gesture_sensor/selftest
# Temphumidity_sensor
    chown system radio /sys/class/sensors/temphumidity_sensor/vendor
    chown system radio /sys/class/sensors/temphumidity_sensor/name
    chown system radio /sys/class/sensors/temphumidity_sensor/engine_ver
    chown system radio /sys/class/sensors/temphumidity_sensor/send_accuracy
    chown system radio /sys/class/sensors/temphumidity_sensor/mcu_batt_adc
    chown system radio /sys/class/sensors/temphumidity_sensor/mcu_chg_adc
    chown system radio /sys/class/sensors/temphumidity_sensor/batt_temperature
    chown system radio /sys/class/sensors/temphumidity_sensor/chg_temperature
# SHTC1 BULK
    chmod 0600 /dev/shtc1_sensor
    chown system system /dev/shtc1_sensor
# SensorHub
    chown system radio /sys/class/sensors/ssp_sensor/enable
    chown system radio /sys/class/sensors/ssp_sensor/mcu_rev
    chown system radio /sys/class/sensors/ssp_sensor/mcu_name
    chown system radio /sys/class/sensors/ssp_sensor/mcu_test
    chown system radio /sys/class/sensors/ssp_sensor/mcu_reset
    chown system radio /sys/class/sensors/ssp_sensor/mcu_update
    chown system radio /sys/class/sensors/ssp_sensor/mcu_sleep_test
# Sensorhub IIO
    chown system radio /sys/class/sensors/ssp_sensor/accel_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/rot_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/game_rot_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/step_det_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/gyro_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/uncalib_gyro_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/mag_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/uncal_mag_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/pressure_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/ssp_flush
    chmod 0600 /dev/batch_io
    chown system system /dev/batch_io

# Permissions for EPEN
    chown system radio /sys/class/sec/sec_epen/epen_firm_update
    chown system radio /sys/class/sec/sec_epen/epen_rotation
    chown system radio /sys/class/sec/sec_epen/epen_hand
    chown system radio /sys/class/sec/sec_epen/epen_reset
    chown system radio /sys/class/sec/sec_epen/epen_reset_result
    chown system radio /sys/class/sec/sec_epen/epen_checksum
    chown system radio /sys/class/sec/sec_epen/epen_checksum_result
    chown system radio /sys/class/sec/sec_epen/epen_saving_mode
    chown system radio /sys/class/sec/sec_epen/boost_level

# Permissions Camera
    chown system radio /sys/class/camera/rear/rear_camfw
    chown system radio /sys/class/camera/rear/rear_camtype
    chown system radio /sys/class/camera/flash/rear_flash
#    chown system radio /sys/class/camera/rear/isp_core
    chown system radio /sys/class/camera/front/front_camfw
    chown system radio /sys/class/camera/front/front_camtype

    chown system system /sys/class/input/input16/enabled
    chmod 0660 /sys/class/input/input16/enabled
    chown system system /sys/class/input/input19/enabled
    chmod 0660 /sys/class/input/input19/enabled
    chown system system /sys/class/input/input21/enabled
    chmod 0660 /sys/class/input/input21/enabled

# Switch Device
    chown system radio /sys/class/sec/switch/otg_test
    chown system radio /sys/class/sec/switch/adc
    chown system radio /sys/class/sec/switch/apo_factory

# OTG_TEST
    chown system radio /sys/class/host_notify/usb_otg/booster
    chmod 0660 /sys/class/host_notify/usb_otg/booster

    write /proc/sys/vm/swappiness 130

# PMS DVFS
    chown radio system /sys/power/cpufreq_table
    chown radio system /sys/power/cpufreq_max_limit
    chown radio system /sys/power/cpufreq_min_limit
    chmod 0660 /sys/power/cpufreq_table
    chmod 0660 /sys/power/cpufreq_max_limit
    chmod 0660 /sys/power/cpufreq_min_limit
    chown radio system /sys/class/devfreq/exynos5-busfreq-mif/en_monitoring
    chown radio system /sys/class/devfreq/exynos5-busfreq-int/en_monitoring
    chmod 0664 /sys/class/devfreq/exynos5-busfreq-mif/en_monitoring
    chmod 0664 /sys/class/devfreq/exynos5-busfreq-int/en_monitoring
    chown radio system /sys/class/devfreq/exynos5-busfreq-mif/freq_table
    chown radio system /sys/class/devfreq/exynos5-busfreq-int/freq_table
    chown radio system /sys/class/devfreq/exynos5-busfreq-mif/min_freq
    chown radio system /sys/class/devfreq/exynos5-busfreq-int/min_freq
    chown radio system /sys/class/devfreq/exynos5-busfreq-mif/max_freq
    chown radio system /sys/class/devfreq/exynos5-busfreq-int/max_freq
    chown radio system /sys/devices/platform/mali.0/dvfs_table
    chown radio system /sys/devices/platform/mali.0/dvfs_min_lock
    chown radio system /sys/devices/platform/mali.0/dvfs_max_lock
    chown radio system /sys/class/thermal/thermal_zone0/boost_mode
    chmod 664 /sys/class/devfreq/exynos5-busfreq-mif/freq_table
    chmod 664 /sys/class/devfreq/exynos5-busfreq-int/freq_table
    chmod 664 /sys/class/devfreq/exynos5-busfreq-mif/min_freq
    chmod 664 /sys/class/devfreq/exynos5-busfreq-int/min_freq
    chmod 664 /sys/class/devfreq/exynos5-busfreq-mif/max_freq
    chmod 664 /sys/class/devfreq/exynos5-busfreq-int/max_freq
    chmod 664 /sys/devices/platform/mali.0/dvfs_table
    chmod 664 /sys/devices/platform/mali.0/dvfs_min_lock
    chmod 664 /sys/devices/platform/mali.0/dvfs_max_lock
    chmod 664 /sys/class/thermal/thermal_zone0/boost_mode

# Core Control
    chown radio system /sys/devices/system/b.L/b.L_core_stat
    chmod 0660 /sys/devices/system/b.L/b.L_core_stat
    chown radio system /sys/devices/system/cpu/cpu0/cpuidle/state1/disable
    chown radio system /sys/devices/system/cpu/cpu1/cpuidle/state1/disable
    chown radio system /sys/devices/system/cpu/cpu2/cpuidle/state1/disable
    chown radio system /sys/devices/system/cpu/cpu3/cpuidle/state1/disable
    chmod 0660 /sys/devices/system/cpu/cpu0/cpuidle/state1/disable
    chmod 0660 /sys/devices/system/cpu/cpu1/cpuidle/state1/disable
    chmod 0660 /sys/devices/system/cpu/cpu2/cpuidle/state1/disable
    chmod 0660 /sys/devices/system/cpu/cpu3/cpuidle/state1/disable

# Core temp sensor
    chown radio system /sys/devices/platform/exynos5-tmu/temp
    chown radio system /sys/devices/platform/exynos5-tmu/curr_temp

# Quadrant Benchmark
    chown radio system /sys/class/thermal/thermal_zone0/boost_mode
    chown radio system /sys/class/devfreq/exynos5-busfreq-mif/min_freq
    chown radio system /sys/class/devfreq/exynos5-busfreq-int/min_freq
    chown radio system /sys/devices/system/cpu/cpufreq/iks-cpufreq/min_freq
    chown radio system /sys/devices/system/cpu/cpufreq/iks-cpufreq/max_freq
    chown radio system /sys/devices/system/cpu/cpufreq/iks-cpufreq/freq_table
    chown radio system /sys/devices/system/cpu/cpufreq/iks-cpufreq/max_eagle_count
#    chown radio system /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_max_lock
#    chown radio system /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_min_lock
#    chown radio system /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_table
    chmod 0664 /sys/class/thermal/thermal_zone0/boost_mode
    chmod 0664 /sys/class/devfreq/exynos5-busfreq-mif/min_freq
    chmod 0664 /sys/class/devfreq/exynos5-busfreq-int/min_freq
    chmod 0664 /sys/devices/system/cpu/cpufreq/iks-cpufreq/min_freq
    chmod 0664 /sys/devices/system/cpu/cpufreq/iks-cpufreq/max_freq
    chmod 0664 /sys/devices/system/cpu/cpufreq/iks-cpufreq/freq_table
    chmod 0664 /sys/devices/system/cpu/cpufreq/iks-cpufreq/max_eagle_count
#    chmod 0664 /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_max_lock
#    chmod 0664 /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_min_lock
#    chmod 0664 /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_table

# CPU Idle
    chown system radio /sys/devices/system/cpu/cpu0/cpuidle/state2/disable
    chown system radio /sys/module/cpuidle/parameters/enable_mask

# MTP permission
    chmod 0660 /dev/mtp_usb
    chown system mtp /dev/mtp_usb

# terminal mode
#	chmod 0660 /sys/class/android_usb/android0/terminal_version
#	chown system system /sys/class/android_usb/android0/terminal_version

# for datarouter
    chown system system /dev/dun
    chown system system /dev/ttyGS0
    chown system system /dev/ttyGS1
    chown system system /dev/ttyGS2
    chown system system /dev/ttyGS3

# GPIO DVS
    chown radio system /sys/class/secgpio_check/secgpio_check_all/gpioinit_check
    chown radio system /sys/class/secgpio_check/secgpio_check_all/gpiosleep_check
    chown radio system /sys/class/secgpio_check/secgpio_check_all/checked_sleepGPIO

# IR_LED
    chown system radio /sys/class/sec/sec_ir/ir_send
    chown system radio /sys/class/sec/sec_ir/ir_send_result

# Permissions for Barcode Emul
    chown system radio /sys/class/sec/sec_barcode_emul/barcode_send
    chown system radio /sys/class/sec/sec_barcode_emul/barcode_ver_check
    chown system radio /sys/class/sec/sec_barcode_emul/barcode_led_status

on charger
    # Set cpu governor to powersave while in charging mode
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor powersave
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor powersave
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor powersave

    # EHCI runtime enable for LPA
    write /sys/devices/platform/s5p-ehci/power/control auto

    # Do not set any USB mode while charging
    setprop sys.usb.config charging

on fs
    mount_all /fstab.universal5420

# Support Preload install apks
    mkdir /preload 0771 system system
    wait /dev/block/platform/dw_mmc.0/by-name/HIDDEN
    mount ext4 /dev/block/platform/dw_mmc.0/by-name/HIDDEN /preload nosuid nodev ro barrier=1
    setprop storage.preload.complete 1

#For Absolute Persistence Partition 
    mkdir /persdata 0755 system system 
    mkdir /persdata/absolute 0750 system system 

    wait /dev/block/platform/dw_mmc.0/by-name/PERSDATA
#   check_fs /dev/block/platform/dw_mmc.0/by-name/PERSDATA ext4
    mount ext4 /dev/block/platform/dw_mmc.0/by-name/PERSDATA /persdata/absolute nosuid nodev barrier=1

    chown system system /persdata
    chmod 0755 /persdata
    chown system system /persdata/absolute
    chmod 0750 /persdata/absolute

    chown system system /sys/class/timed_output/vibrator/enable

# Permissions for backlight
    chown system system /sys/class/backlight/panel/brightness
    chown system system /sys/class/backlight/panel/auto_brightness

# Permissions for torch
    chown system camera /sys/class/leds/torch-sec1/brightness
    chmod 0666 /sys/class/leds/torch-sec1/brightness

# Permissions for LCD
    chown system radio /sys/class/lcd/panel/lcd_type
    chown system system /sys/class/lcd/panel/power_reduce
    chown system system /sys/class/lcd/panel/siop_enable
    chown system system /sys/class/lcd/panel/temperature

# Permissions for MDNIE
    chown system media_rw /sys/class/mdnie/mdnie/mode
    chown system media_rw /sys/class/mdnie/mdnie/scenario
    chown system system /sys/class/mdnie/mdnie/accessibility
    chown system system  /sys/class/mdnie/mdnie/cabc
    chown system system  /sys/class/mdnie/mdnie/bypass

# Switch Device
    chown system radio /sys/class/sec/switch/uart_sel
    chown system radio /sys/class/sec/switch/usb_sel
    chown system radio /sys/class/sec/switch/usb_state
    chown system radio /sys/class/sec/switch/chg_type

# Audio (Earjack)
    chown system radio /sys/class/audio/earjack/select_jack
    chown system radio /sys/class/audio/earjack/key_state
    chown system radio /sys/class/audio/earjack/state

# create camera directory
    mkdir /data/camera 0700 media media

# GPS
    chown root system /dev/ttySAC1
    chmod 0660 /dev/ttySAC1
    chown root system /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 0664 /sys/class/sec/gps/GPS_PWR_EN/value
    mkdir /data/system 0771 system system
    chown system system /data/system
    mkdir /data/system/gps 0771 system system
    chown system system /data/system/gps
    rm /data/gps_started
    rm /data/glonass_started
    rm /data/smd_started
    rm /data/sv_cno.info

# Broadcom NFC
    chmod 0600 /dev/bcm2079x
    chown nfc nfc /dev/bcm2079x
    mkdir /data/bcmnfc
    mkdir /data/bcmnfc/param
    chmod 0700 /data/bcmnfc
    chmod 0700 /data/bcmnfc/param
    chown nfc nfc /data/bcmnfc
    chown nfc nfc /data/bcmnfc/param

# Set watchdog timer to 30 seconds and pet it every 10 seconds to get a 20 second margin
service watchdogd /sbin/watchdogd 10 20
    class core
    seclabel u:r:watchdogd:s0
    disabled

# on userdebug and eng builds, enable kgdb on the serial console
on property:ro.debuggable=1
    write /sys/module/kgdboc/parameters/kgdboc ttyFIQ1
    write /sys/module/fiq_debugger/parameters/kgdb_enable 1

# GPS
service gpsd /system/bin/gpsd -c /system/etc/gps.xml
    class main
    user gps
    group system inet net_raw
    ioprio be 0

# MobiCore startup
service mobicore /system/bin/mcDriverDaemon -r /system/app/FFFFFFFF000000000000000000000001.drbin -r /system/app/mcRegistry/ffffffffd0000000000000000000000a.tlbin
    class core
    user system
    group system
    oneshot

service charger /sbin/healthd -c
    class charger
    critical
    
# service for TZPR provisioning version check app
service scranton_RD /system/bin/scranton_RD
     class main
     user root
     disabled
     oneshot

# start for TZPR provisioning version check app
on property:sys.mobicoredaemon.enable=true
    start scranton_RD

# Secure Storage startup
service secure_storage /system/bin/secure_storage_daemon
    class core
    user system
    group system
    disabled

on property:ro.securestorage.support=true
    mkdir /dev/.secure_storage
    chmod 0711 /dev/.secure_storage
    chown system system /dev/.secure_storage
    restorecon_recursive /dev/.secure_storage
    start secure_storage

# CS service
service cs_service /system/bin/cs
    class main
    user system
    group system
    disabled

on property:sys.mobicoredaemon.enable=true
    start cs_service

service sswap /sbin/sswap -s
    class core
    user root
    group root
    oneshot
    seclabel u:r:sswap:s0
