import init.baseband.rc

on init

export LD_SHIM_LIBS "/system/bin/gpsd|libdmitry.so"

on post-fs-data

# YAAS(Yamaha Android Audio System) uses.
    mkdir /data/ymc 0775 system system
    chmod 0666 /dev/snd/controlC0

# SVC LED
    chown system system /sys/class/sec/led/led_r
    chown system system /sys/class/sec/led/led_g
    chown system system /sys/class/sec/led/led_b
    chown system system /sys/class/leds/led_r/brightness
    chown system system /sys/class/leds/led_g/brightness
    chown system system /sys/class/leds/led_b/brightness
    chown system system /sys/class/leds/led_r/delay_on
    chown system system /sys/class/leds/led_g/delay_on
    chown system system /sys/class/leds/led_b/delay_on
    chown system system /sys/class/leds/led_r/delay_off
    chown system system /sys/class/leds/led_g/delay_off
    chown system system /sys/class/leds/led_b/delay_off
    chown system system /sys/class/leds/led_r/blink
    chown system system /sys/class/leds/led_g/blink
    chown system system /sys/class/leds/led_b/blink
    chown system system /sys/class/sec/led/led_pattern
    chown system system /sys/class/sec/led/led_blink
    chown system system /sys/class/sec/led/led_br_lev
    chown system system /sys/class/sec/led/led_lowpower

# Sensorhub service
service sensorhubservice /system/bin/sensorhubservice
    class main
    user system
    group input

on boot

# Permissions for gpio_keys
    chown system system /sys/class/input/input13/enabled
    chmod 0660 /sys/class/input/input13/enabled

# Permissions for HeadSet
    chown system system /sys/class/input/input11/enabled
    chmod 0660 /sys/class/input/input11/enabled
    chown system system /sys/class/input/input12/enabled
    chmod 0660 /sys/class/input/input12/enabled

# Permissions for Touchkey
    chown system system /sys/class/input/input14/enabled
    chmod 0660 /sys/class/input/input14/enabled

# Permissions for sensors
    chown system system /sys/class/input/input2/enabled
    chmod 0660 /sys/class/input/input2/enabled
    chown system system /sys/class/input/input3/enabled
    chmod 0660 /sys/class/input/input3/enabled
    chown system system /sys/class/input/input4/enabled
    chmod 0660 /sys/class/input/input4/enabled
    chown system system /sys/class/input/input5/enabled
    chmod 0660 /sys/class/input/input5/enabled
    chown system system /sys/class/input/input6/enabled
    chmod 0660 /sys/class/input/input6/enabled
    chown system system /sys/class/input/input7/enabled
    chmod 0660 /sys/class/input/input7/enabled
    chown system system /sys/class/input/input8/enabled
    chmod 0660 /sys/class/input/input8/enabled
    chown system system /sys/class/input/input9/enabled
    chmod 0660 /sys/class/input/input9/enabled
    chown system system /sys/class/input/input10/enabled
    chmod 0660 /sys/class/input/input10/enabled

# Accelerometer_sensor
    chown system radio /sys/class/sensors/accelerometer_sensor/selftest

# Temphumidity_sensor
    chown system radio /sys/class/sensors/temphumidity_sensor/mcu_batt_adc
    chown system radio /sys/class/sensors/temphumidity_sensor/mcu_chg_adc
    chown system radio /sys/class/sensors/temphumidity_sensor/batt_temperature
    chown system radio /sys/class/sensors/temphumidity_sensor/chg_temperature

# SHTC1 BULK
    chmod 0600 /dev/shtc1_sensor
    chown system system /dev/shtc1_sensor

# SensorHub
    chown system radio /sys/class/sensors/ssp_sensor/enable
    chown system radio /sys/class/sensors/ssp_sensor/mcu_rev
    chown system radio /sys/class/sensors/ssp_sensor/mcu_name
    chown system radio /sys/class/sensors/ssp_sensor/mcu_test
    chown system radio /sys/class/sensors/ssp_sensor/mcu_reset
    chown system radio /sys/class/sensors/ssp_sensor/mcu_update
    chown system radio /sys/class/sensors/ssp_sensor/mcu_sleep_test

# Sensorhub IIO
    chown system radio /sys/class/sensors/ssp_sensor/accel_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/rot_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/game_rot_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/step_det_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/gyro_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/uncalib_gyro_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/mag_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/uncal_mag_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/pressure_poll_delay
    chown system radio /sys/class/sensors/ssp_sensor/ssp_flush
    chmod 0600 /dev/batch_io
    chown system system /dev/batch_io

# Permissions for EPEN
    chown system radio /sys/class/sec/sec_epen/epen_firm_update
    chown system radio /sys/class/sec/sec_epen/epen_rotation
    chown system radio /sys/class/sec/sec_epen/epen_hand
    chown system radio /sys/class/sec/sec_epen/epen_reset
    chown system radio /sys/class/sec/sec_epen/epen_reset_result
    chown system radio /sys/class/sec/sec_epen/epen_checksum
    chown system radio /sys/class/sec/sec_epen/epen_checksum_result
    chown system radio /sys/class/sec/sec_epen/epen_saving_mode
    chown system radio /sys/class/sec/sec_epen/boost_level
    chown system system /sys/class/input/input14/enabled
    chmod 0660 /sys/class/input/input14/enabled

# Input Boosters
    write /sys/class/sec/sec_epen/wacom_booster_enabled 0

# Epen power saving mode
    write /sys/devices/virtual/sec/sec_epen/epen_saving_mode 1

on fs

# Broadcom NFC
    chmod 0600 /dev/bcm2079x
    chown nfc nfc /dev/bcm2079x
    mkdir /data/bcmnfc
    mkdir /data/bcmnfc/param
    chmod 0700 /data/bcmnfc
    chmod 0700 /data/bcmnfc/param
    chown nfc nfc /data/bcmnfc
    chown nfc nfc /data/bcmnfc/param